<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MarkMapper">
    
    <resultMap type="Mark" id="MarkResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="username"    column="username"    />
        <result property="cjkh"    column="cjkh"    />
        <result property="wssx"    column="wssx"    />
        <result property="hzgj"    column="hzgj"    />
        <result property="cxfz"    column="cxfz"    />
        <result property="avgScore"    column="avg_score"    />
        <result property="scoringTime"    column="scoring_time"    />
        <result property="explanation"    column="explanation"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectMarkVo">
        select id, user_id, username, cjkh, wssx, hzgj, cxfz, avg_score, scoring_time, explanation, create_time, update_time, is_deleted from mark
    </sql>

    <select id="selectMarkList" parameterType="Mark" resultMap="MarkResult">
        <include refid="selectMarkVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="cjkh != null "> and cjkh = #{cjkh}</if>
            <if test="wssx != null "> and wssx = #{wssx}</if>
            <if test="hzgj != null "> and hzgj = #{hzgj}</if>
            <if test="cxfz != null "> and cxfz = #{cxfz}</if>
            <if test="avgScore != null "> and avg_score = #{avgScore}</if>
            <if test="scoringTime != null "> and  DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(#{scoringTime}) </if>
            <if test="explanation != null  and explanation != ''"> and explanation = #{explanation}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectMarkById" parameterType="Long" resultMap="MarkResult">
        <include refid="selectMarkVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMark" parameterType="Mark" useGeneratedKeys="true" keyProperty="id">
        insert into mark
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="cjkh != null">cjkh,</if>
            <if test="wssx != null">wssx,</if>
            <if test="hzgj != null">hzgj,</if>
            <if test="cxfz != null">cxfz,</if>
            <if test="avgScore != null">avg_score,</if>
            <if test="scoringTime != null">scoring_time,</if>
            <if test="explanation != null">explanation,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="cjkh != null">#{cjkh},</if>
            <if test="wssx != null">#{wssx},</if>
            <if test="hzgj != null">#{hzgj},</if>
            <if test="cxfz != null">#{cxfz},</if>
            <if test="avgScore != null">#{avgScore},</if>
            <if test="scoringTime != null">#{scoringTime},</if>
            <if test="explanation != null">#{explanation},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateMark" parameterType="Mark">
        update mark
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="cjkh != null">cjkh = #{cjkh},</if>
            <if test="wssx != null">wssx = #{wssx},</if>
            <if test="hzgj != null">hzgj = #{hzgj},</if>
            <if test="cxfz != null">cxfz = #{cxfz},</if>
            <if test="avgScore != null">avg_score = #{avgScore},</if>
            <if test="scoringTime != null">scoring_time = #{scoringTime},</if>
            <if test="explanation != null">explanation = #{explanation},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMarkById" parameterType="Long">
        delete from mark where id = #{id}
    </delete>

    <delete id="deleteMarkByIds" parameterType="String">
        delete from mark where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>